/* :root {
	--light: #ffffff;
	--dark: #37414a;
	--primary: #0d265e;
	--primary_hover: #1b48ad;
	--secondary: #cb424a;
	--soft_primary: #e2f5ff;
	--soft_secondary: #ffdedf;
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	min-height: 100vh;
}

@media only screen and (max-width: 600px) {
	.div-principal {
		display: flex;
	}
	.section1 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	pre {
		white-space: pre-wrap;
		white-space: -moz-pre-wrap !important;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
	}
}

@media only screen and (max-width: 768px) {
	.div-principal {
		display: flex;
	}
}

@media only screen and (max-width: 992px) {
	.div-principal {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.tarjeta {
		margin-bottom: 3rem;
	}
	.section1 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (max-width: 1500px) {
	.cont-tarjeta {
		display: flex;
		justify-content: space-around;
	}
}

@media only screen and (max-width: 1920px) {
	.div-principal {
		display: flex;
		justify-content: space-around;
	}
	.cont-tarjeta {
		display: flex;
		justify-content: space-around;
	}
}

@media only screen and (max-width: 2559px) {
	.div-principal {
		display: flex;
		justify-content: space-around;
	}
	.cont-tarjeta {
		display: flex;
		justify-content: space-around;
	}
	form {
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (min-width: 2560px) {
	.div-principal {
		display: flex;
		justify-content: space-around;
	}
	.cont-tarjeta {
		display: flex;
		justify-content: space-around;
	}
	form {
		display: flex;
		flex-direction: column;
	}
	.div-sec {
		margin-left: 13rem;
	}
}

.form {
	position: relative;
	margin: 1.25rem 0rem 0rem 0rem;
}

input {
	outline: none;
	border: 0.1875rem solid #505050;
	background-color: transparent;
	border-radius: 0.5rem;
	font-size: 1.5625rem;
	position: relative;
	padding: 0.3125rem 0px 0.3125rem 1.25rem;
	transition: all 0.3s ease;
}

input:focus {
	border: 0.1875rem solid #4285f4;
}

label {
	position: absolute;
	left: 1.25rem;
	top: 50%;
	transform: translateY(-50%);
	font-size: 0.9375rem;
	transition: all 0.3s ease;
	color: #000;
	pointer-events: none;
}

input:focus + label,
input:valid + label {
	top: 0;
	left: 0.625rem;
	color: #4285f4 !important;
}

span {
	padding: 0 5px;
	background-color: #ffffff;
}

.saldo {
	width: 8rem !important;
	cursor: default;
	color: var(--secondary);
	background: var(--light);
}

.card-footer {
	background-color: var(--light) !important;
	color: var(--secondary) !important;
	font-weight: bold;
}

.tarjeta {
	border-radius: 10px;
	background: linear-gradient(180deg, var(--primary), var(--soft_primary));
	box-shadow: 0.5rem 0.5rem 2rem var(--primary),
		-1.25rem -1.25rem 3.75rem var(--soft_primary);
}

button {
	border-radius: 3.125rem;
	background-color: var(--soft_primary) !important;
	color: var(--secondary) !important;
	font-weight: bold !important;
}

button:hover {
	border-radius: 3.125rem;
	background-color: var(--secondary) !important;
	color: var(--soft_primary) !important;
	font-weight: bold !important;
}

h1,
h2 {
	font-family: 'Pacifico', cursive;
}

h2 {
	color: black;
}

.eliminar {
	cursor: pointer;
	display: flex;
	justify-content: center;
}

.eliminar:hover {
	background: linear-gradient(145deg, var(--secondary), var(--soft_secondary));
	box-shadow: 1.25rem 1.25rem 3.75rem var(--secondary),
		-1.25rem -1.25rem 3.75rem var(--soft_secondary);
}

/* 
#checkeado {
	display: none;
}

ul {
	padding-left: 0 !important;
}

li {
	z-index: 1;
}

li:hover {
	color: var(--primary_hover);
}

.menu-expanded li {
	margin-top: 1rem;
	list-style-type: none;
	font-size: 0.8rem;
	color: var(--soft_primary);
}

.menu-collapsed {
	position: fixed;
	background: 0, 0, 0, 0.5;
	width: 3.5rem;
	height: 100vh;
	top: 0;
	left: 0;
	transition: all 300ms ease;
}

.menu-expanded {
	position: fixed;
	background: 0, 0, 0, 0.5;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	transition: all 500ms ease;
}

.menu-expanded .btn-menu {
	display: none;
}

.menu-collapsed .btn-menu {
	display: block;
}

.menu-collapsed .equis {
	display: none;
}

.menu-expanded .equis {
	display: block;
}

.menu-collapsed #titulo {
	display: none !important;
}

.menu-expanded #titulo {
	display: block !important;
	display: flex !important;
	justify-content: center;
}

.menu-collapsed #profile {
	display: none !important;
}

.menu-expanded #profile {
	display: block !important;
}

.menu-collapsed .cont-client {
	padding: 5.125rem 0 1.875rem 0;
	margin-left: 6.5px;
}

.menu-collapsed .client {
	height: 40px;
}

.menu-expanded .cont-client {
	padding-top: 0px;
	margin-left: 0px;
	display: flex;
	justify-content: center;
}

.menu-expanded .client {
	height: 70px !important;
	display: flex;
	justify-content: center;
}

.menu-collapsed .navbar-cuentas a {
	margin-left: 0rem !important;
	font-size: 0rem;
	display: block;
	padding: 1.25rem 0 1.25rem 0.7rem;
	border-left: 0.3125rem solid transparent;
	transition: all 400ms ease;
}

.menu-expanded .navbar-cuentas a {
	display: block;
	padding: 1.25rem;
	color: var(--light);
	border-left: 0.3125rem solid transparent;
	transition: all 400ms ease;
}

.cerrar-sesion {
	position: absolute;
	bottom: 0.625rem;
	width: 100%;
	color: var(--secondary) !important;
	font-weight: bold;
}

.menu-collapsed .cerrar-sesion {
	font-size: 0.8rem;
	padding: 8px;
}

.menu-expanded .cerrar-sesion {
	padding: 0.3125rem;
	display: flex;
	justify-content: center;
}

.cont-menu {
	width: 100%;
	max-width: 12.5rem;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		180deg,
		rgba(2, 0, 36, 1) 0%,
		var(--primary_hover) 75%,
		var(--soft_primary) 100%
	);
	height: 100vh;
	position: relative;
	transition: all 500ms ease;
}

.cont-menu nav {
	transform: translateY(15%);
}

.cont-menu a:hover {
	background: var(--soft_primary);
	color: var(--primary) !important;
}

.equis {
	position: absolute;
	right: 0.625rem;
	top: 0.3125rem;
	cursor: pointer;
	font-size: 1.125rem;
}

.btn-menu {
	position: relative;
	margin: 0.4rem 0 1.5rem 1.3rem;
	border-radius: 0.125rem;
	height: 2.25rem;
	width: 2.25rem;
	float: left;
	cursor: pointer;
	content: "";
	border-top: 6px solid var(--soft_primary);
	padding: 3px;
	border-bottom: 15px double var(--soft_primary);
	height: 5px;
	width: 20px;
	top: 0.25rem;
	right: 0.1875rem;
	z-index: 1;
} */

a {
	cursor: pointer;
	text-decoration: none !important;
}

.registro a {
	color: var(--primary) !important;
}

.registro a:hover {
	color: var(--primary_hover) !important;
}
